<script>
  let messagin = firebase.messaging();
  navigator.serviceWorker.register("../service-worker.js").then(register => {
    messagin.useServiceWorker(register);
    messagin
      .requestPermission()
      .then(() => {
        console.log("acepto");
        return messagin.getToken();
      })
      .then(token => {
        console.log(token);
      })
      .catch(() => {
        console.log("no acepto");
      });
  });

  messagin.onMessage(payload => {
    let title = "titulo";
    let options = {
      body: "este es el mensaje",
      icon: "favicon.png"
    };
    let mensaje = new Notification(title, options);
  });
</script>

<style>
  h1,
  figure,
  p {
    text-align: center;
    margin: 0 auto;
  }

  h1 {
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 0.5em 0;
  }

  figure {
    margin: 0 0 1em 0;
  }

  img {
    width: 100%;
    max-width: 400px;
    margin: 0 0 1em 0;
  }

  p {
    margin: 1em auto;
  }

  @media (min-width: 480px) {
    h1 {
      font-size: 4em;
    }
  }
</style>

<svelte:head>
  <title>Sapper project template</title>
</svelte:head>

<h1>Great success!</h1>

<figure>
  <img alt="Success Kid" src="successkid.jpg" />
  <figcaption>Have fun with Sapper!</figcaption>
</figure>

<p>
  <strong>
    Try editing this file (src/routes/index.svelte) to test live reloading.
  </strong>
</p>
